body {
  color: white;
  text-shadow: 0px 1px 1px black;
  font-family: 'Poiret One', cursive;
  background: url(../images/panel1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#heading {
  font-size: 6em;
}

#item {
  font-size: 3em;
}

#skill {
  font-size: 2em;
  font-weight: bold;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

a:visited {
  color: inherit;
}

#content {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}
